$primary-bg : #00536D;
$theme-color : #27aae1;

.game-view{
    width: 152px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $primary-bg;
    > div{
        width:33%;

        input{
            display:none;
        }

        label{
            font-family: 'Indie Flower', cursive;
            font-size: 3em;
            width: 50px;
            height: 50px;
            display: flex;
           
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin-bottom: 1px;


        }
        &:nth-child(7),&:nth-child(8),&:nth-child(9){
           label{
            margin-bottom: 0px;
        }}
        
    }

    
}